/* .avatar-component {
    display: flex;
    align-items: center;
    position: relative;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}

.avatar-upload {
    display: flex;
    align-items: center;
}
.avatar-upload label {
    cursor: pointer;
    color: #007bff;
    text-decoration: underline;
}
.avatar-upload input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.avatar-upload button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}
.avatar-upload button:hover {
    background-color: #0056b3;
} */